{% extends 'base.jinja' %}
{% from '_helpers.jinja' import render_pagination with context %}

{% block head %}<link href="{{ STATIC }}{{ config['TEMPLATE'] }}/css/state.css" rel="stylesheet" type="text/css">{% endblock %}
{% block title %}{{ _('Sales') }}. {{ _('Page') }} {{ sales.page }}{% endblock %}
{% block metadescription %}{{ _('Sales') }} - {{ config['TITLE'] }}. {{ _('Page') }} {{ sales.page }}{% endblock %}

{% block main %}
{% set bread_crumbs = [(url_for('nereid.website.home'), _('Home')), (url_for('sale.sale.render_list'), _('Sales'))] %}
{% set sale_state = {'draft': _('Draft'), 'quotation': _('Quotation'), 'confirmed': _('Confirmed'), 'processing': _('Processing'), 'done': _('Done'), 'cancel': _('Canceled')} %}
{% include 'nav.jinja' %}
<div class="row">
    <div class="span12 page-header">
        <h1>{{ _('Sales') }}</h1>
    </div>
    <div class="span12">
        {% if sales %}
            <table class="table table-striped">
            <tbody>
            <tr class="blacky">
              <th>{{ _('Reference') }}</th>
              <th>{{ _('Date') }}</th>
              <th>{{ _('State') }}</th>
              <th>{{ _('Price') }}</th>
              <th>{{ _('Details') }}</th>
            </tr>
            {% for sale in sales %}
            <tr>
              <td>{% if sale.reference %}<a href="{{ url_for('sale.sale.render', uri=sale.id) }}">{{ sale.reference }}</a>{% endif %}</td>
              <td>{{ sale.sale_date|dateformat }}</td>
              <td><span class="state state-small state-{{ sale.state }}">{{ sale_state[sale.state] }}</span></td>
              <td>{{ sale.total_amount|currencyformat(sale.currency.code) }}</td>
              <td><a href="{{ url_for('sale.sale.render', uri=sale.id) }}">{{ _('View Details') }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            {% if sales.pages > 1 %}{{ render_pagination(sales, None, 'sale.sale.render_list') }}{% endif %}
        {% else %}
            <div class="alert">{{ _('Not sales are available') }}.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
